.result {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.box-result div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-result h1 {
  font-size: 40px;
  font-weight: bold;
}

.box-result p {
  font-size: 22px;
  text-align: center;
}
